<html>
  <head>
    <link rel="stylesheet" type="text/css" href="static/form.css" />
    <script type="text/javascript" src="static/form.js"></script>>
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org//face/segment7" type="text/css"/>
  </head>
  <body>
    <form class="flaskulator" action="http://127.0.0.1:5000/results" method="POST">
      <table>
        <tr id="d">
          <td colspan="4"><input class="display" type="text" name="display" id="display"></td>
        </tr>
        <tr id="789">
          <td><input class="digits" type="button" id="7" name="7" value="7" onclick="updateDisplay(7)"></td>
          <td><input class="digits" type="button" id="8" name="8" value="8" onclick="updateDisplay(8)"></td>
          <td><input class="digits" type="button" id="9" name="9" value="9" onclick="updateDisplay(9)"></td>
          <td><input class="operators" type="button" id="add" name="add" value="+" onclick="processValue(this.value)"></td>
        </tr>
        <tr id="456">
          <td><input class="digits" type="button" id="4" name="4" value="4" onclick="updateDisplay(4)"></td>
          <td><input class="digits" type="button" id="5" name="5" value="5" onclick="updateDisplay(5)"></td>
          <td><input class="digits" type="button" id="6" name="6" value="6" onclick="updateDisplay(6)"></td>
          <td><input class="operators" type="button" id="sub" name="sub" value="-" onclick="processValue(this.value)"/></td>
        </tr>
        <tr id="123">
          <td><input class="digits" type="button" id="1" name="1" value="1" onclick="updateDisplay(1)"></td>
          <td><input class="digits" type="button" id="2" name="2" value="2" onclick="updateDisplay(2)"></td>
          <td><input class="digits" type="button" id="3" name="3" value="3" onclick="updateDisplay(3)"></td>
          <td><input class="operators" type="button" id="mul" name="mul" value="x" onclick="processValue(this.value)"></td>
        </tr>
        <tr>
          <td colspan="3"><input class="submit" type="submit" name="calculate" value="=" style="width:100%"></td>
          <td><input class="operators" type="button" id="div" name="div" value="/" onclick="processValue(this.value)"></td>
        </tr>
      </table>
    </form>
  </body>
</html>